h1{
    font-size: 40; 
    color: rgb(12, 255, 186);
 }
p{ 
 font-size: 10px;
 color: #f0e91d;
 }
 .para_size{
    font-size: 60px;
     color:rgb(232, 232, 232) ;
 }
 .classname{
    background-image: url(../images/logo.webp);
 }
 .bgpara{

    background: no-repeat url(../images/car\ logo.avif) center fixed rgb(255, 166, 166);
    background-size: cover;
 }
 a{ color: blue;}
 ol{
    color: blueviolet;
 }
 h1{
    font-family: "New Amsterdam", sans-serif;
  font-weight: 1000;
  font-style: normal;
  border:2px solid #000000;
 }
 .margin1{
   margin: 2oopx;
 }
 .margin2{
   margin: 200px 100px;
 }
 .margin3{
   margin: 200px 100px 50px;
 }
 .margin4{
   margin-left: 100px;
 }
 .padding1{
   padding: 100px;
 }
 .padding2{
   padding: 200px 100px;
 }
 h2{
   border:20px groove #000000;
   font-weight: 400;
   font-size: 60px;
   border-style: dashed;
   border-width: 2px;
   border-color: #000000;
   width: 200px;
 }
 h3{
   border:20px inset #000000;
   font-weight: 500;
   font-size: 60px;
   border-left: 2px dotted #000000;
 }
 h4{
   font-weight: 100;
   font-size: 60px;
   border-style: dotted dashed solid double;
 }